@use "../settings/breakpoints" as breakpoints;
@use "../settings/keyframes" as keyframes;
@use "../utils/mixins" as mixins;

.header {
  width: 90%;
  max-width: 1200px;
  min-height: calc(56px + 8px);
  margin: 0 auto;
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 1.5rem;

  &__wrapper {
    width: 100%;
    min-height: calc(56px + 8px);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0px 0px 5px #0000001f;
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #313131;
  }

  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__rrss {
    display: flex;
    align-items: center;
    gap: 1rem;

    & em {
      font-size: 1rem;
    }
  }
}
